#map {
        height: 100%;
        width: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrap {
	padding: 5%;
}

.place_listing {
    text-decoration: none;
}

.place_listing:hover, .place_listing:focus {
    background: #e1e1e1;
}
.error {
    color: rgb(244,67,54);
}

.header {
    color: #424242;
}

.sidebar {
    position: relative;
}

/* super hackish css... */
.footer {
    bottom: 0;
}

@media screen and (min-width: 480px) {
    .footer {
        position: absolute;
    }
}

.footer > ul> li> img {
    padding: 2%;
}

.footer > ul > li {
    text-decoration: none;
    display: inline;
}

#google {
    width: 50%;
    margin-left: -10%;
}

#yelp {
    max-height: 40px;
    margin-top: -5%;
    width: 50%;
    float: right;
}